@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Happy Citizens online page</h1>
    <p>Welcome to the online personal property management system. </p>
    <p>Joseph</p>
    <p>Jason</p>
    <p>Randy</p>
    <p>Issam</p>
    <p>Gian</p>


</div>
