@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Happy Citizens online page</h1>
    <p>Welcome to the online personal property management system. </p>
@*    <div class="container text-center mb-4">
        <div class="row justify-content-evenly">
            <div class="col mb-4">
                Jason Polanco
            </div>
            <div class="col mb-4">
                Joseph Lee
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col  col-rounded  text-center mb-4">
                <img src="~/Static/Randy.jfif" class="rounded float-left" alt="~/favicon.ico">
                Randolph Henry
            </div>
            <div class="col mb-4">
                Issam Siddique
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col mb-4">
                Dayaan Mazhar
            </div>
            <div class="col mb-4">
                Gianfranco Batoni
            </div>
        </div>
    </div>*@
    <p>Jason Polanco</p>
    <p>Joseph Lee</p>
    <p>Randolph Henry</p>
    <p>Issam Siddique</p>
    <p>Dayaan Mazhar</p>
    <p>Gianfranco Batoni</p>
</div>
